table {
  border-style: hidden;
  padding: auto;
}
caption {
  background-color: #b33939;
}
td {
  padding: 5px;
}
button {
  background-color: #bb2d2dfb;
  padding: 3px;
  border-radius: 10%;
}
.configbut {
  border: hidden;
}
#but1,
#but2,
#but3,
#but4,
#but5,
#but6,
#but7,
#but8,
#but9,
#but10,
#but11,
#but12,
#but13 {
  color: black;
  background-color: #aaa69d;
}
#comprovA {
  background-color: #aaa69d;
}
tr {
  color: black;
  background-color: #aaa69d;
}
a {
  color: black;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #aaa69d;
  padding: 5px;
  border: 10px solid #b33939;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal 3s forwards;
}

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #aaa69d;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #b33939;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.img {
  height: 500px;
  width: 150px;
  padding: 10px;
}
